<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <h1>Change Bio</h1>

    <form method="post">
        {% csrf_token %}
            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio" rows="3" cols="40">
                {% if bio %}
                    {{ bio }}
                {% else %}
                    Nothing here yet
                {% endif %}
            </textarea>
            <button type="submit">Save</button>
    </form>

    {% if bio_error %}
        <p class="error-message">{{ bio_error }}</p>
    {% endif %}

    <a href="{% url 'profile' %}">Back to Profile</a>
</body>
{% endblock %}
</html>