<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "achievement_msg.html" %}
<body>
    <h1>User Profile</h1>

    <p>Username: {{ user.username }}</p>
    <a href="{% url 'change_username' %}">Change Username</a>

    <p>Leaderboard Position: {{ user_position }}</p>
    <p>Points: {{ user.userprofile.points }}</p>
    <p>Events Completed: {{ user.userprofile.events_completed }}</p>

    <p>Bio: {{ user.userprofile.bio }}</p>
    <a href="{% url 'change_bio' %}">Change Bio</a>

    <p>Achievements</p>
    <ul>
        {% for achievement in achievements %}
            <li>{{ achievement.achievement.name }}: {{ achievement.achievement.description }} - {{ achievement.achievement.points }}pts</li>
        {% empty %}
            <li>No achievements yet.</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
</html>
