{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>



    <body style="background-color: antiquewhite;">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% if user.is_authenticated %}
                        <h2>Welcome Back {{ user.username }}</h2>
                        <p>You are already logged in. Go to the <a href="{% url 'index' %}">home page</a>.</p>
                        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                    {% else %}
                        <h2>Login</h2>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-outline mb-4">
                                <input type="text" name="username" id="id_username" required class="form-control">
                                <label class="form-label" for="id_username">Username</label>
                            </div>
    
                            <div class="form-outline mb-4">
                                <input type="password" name="password" id="id_password" required class="form-control">
                                <div class="d-flex justify-content-between align-items-center mt-1"> 
                                    <label class="form-label mb-0" for="id_password">Password</label>
                                    <a href="#!" style="color: #779ecc;">Forgot password?</a>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-block mb-4" style="background-color: #779ecc; color: #fff;">
                                Sign In
                            </button>
    
                    <div class="text-center">
                        Don't have an account? <a href="{% url 'account_signup' %}" style="color: #779ecc;">Sign Up</a>
                        <p>or sign in with:</p>
                        <a href="{% provider_login_url 'google' %}" class="btn btn-link btn-floating mx-1 mt-n4">
                            <i class="fab fa-google" style="color:#779ecc;"></i>
                        </a>
                    </div>


                    <div class="row mb-4">

                    </div>
                </form>

                {% endif %}
            </div>
        </div>
    </div>
    </body>
    </html>
