
<div class="container-fluid">
    <h1>{{ event.name }}</h1>
    <div class="btn-group" role="group" aria-label="Event tabs">
        <a href="{% if event.id %}{% url 'event_about' event.id %}{% endif %}"
            class="btn btn-secondary{% if tab == 'about' %} active{% endif %}">About</a>
        <a href="{% if event.id %}{% url 'event_leaderboard' event.id %}{% endif %}"
            class="btn btn-secondary{% if tab == 'leaderboard' %} active{% endif %}">Leaderboard</a>
        <a href="{% if event.id %}{% url 'event_teams' event.id %}{% endif %}"
            class="btn btn-secondary{% if tab == 'teams' %} active{% endif %}">Teams</a>
        {% if is_team_member %}
            <a href="{% if event.id %}{% url 'event_team' event.id my_team.id %}{% endif %}"
                class="btn btn-secondary{% if tab == 'my_team' %} active{% endif %}">My Team</a>
            <a href="{% if event.id %}{% url 'event_all_tasks' event.id %}{% endif %}"
                class="btn btn-secondary{% if tab == 'all_tasks' %} active{% endif %}">All Tasks</a>
            <a href="{% if event.id %}{% url 'event_tasks_todo' event.id %}{% endif %}"
                class="btn btn-secondary{% if tab == 'tasks_todo' %} active{% endif %}">Tasks To Do</a>
            <a href="{% if event.id %}{% url 'event_completed_tasks' event.id %}{% endif %}"
                class="btn btn-secondary{% if tab == 'completed_tasks' %} active{% endif %}">Completed Tasks</a>
        {% endif %}
    </div>
</div>