{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
  <style>
    #leaderboard td, #leaderboard th {
      padding: 12px;
    }

    #leaderboard tr:hover {background-color: #ddd;}

    #leaderboard th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
    }
    </style>
</head>
<body>

<h2>Leaderboard</h2>

<table class="table-hover", id="leaderboard">
  <thead>
    <tr>
      <th>Place</th>
      <th>User</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
  {% for leader in leaders %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ leader.username }}</td>
        <td>{{ leader.userprofile.points }}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>

</body>
{% endblock %}
</html>