{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script>
    let map
    function initMap(){
        map = new google.maps.Map(document.getElementByID("map"), 
        {center:{lat: -34.397, lng: 150.644}, 
        zoom: 8,
    }
    );

    window.initMap = initMap
</script>
<div class = "linkholder">
    <div class="mapholder">
        <div id="map"> 
            <script async 
            src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCamLJi3Ws33i65zxvez9nO9c1AqiFlElk
            &callback=initmap">
            </script>
        </div>
    </div>
</div>