{%load static%}

<div>
    {%block content%}
        {% if events_list %}
            <ul>
            {% for event in events_list %}
            <li><p>Name: {{ event.name }}</p>
                <p>Description: {{ event.description }} </p>
                <p>Start Date: {{event.start_date}}</p>
                <p>End Date: {{event.start_date}}</p>
                <p>Creator: {{event.creator}}</p>
                <a href = "{% url 'join_event' event.id %}">Join</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No events are available.</p>
        {% endif %}
    {%endblock%}
</div>
