<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="container">
        <h1 style="font-size: 70px;">My Created Events</h1>
    </div>
    <div class="container-fluid">
        <table border="1">
            <thead>
            {% for event in events %}
                <tr>
                    <th colspan="2">Event Name: <a href="{% url 'event-about' event.id %}">{{ event.name }}</a></th>
                </tr>
                <tr>
                    <td> Status:</td>
                    <td>{{ event.get_status_display }}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ event.description }}</td>
                </tr>
                <tr>
                    <td>Start Date:</td>
                    <td>{{ event.start_date }}</td>
                </tr>
                <tr>
                    <td>End Date:</td>
                    <td>{{ event.end_date }}</td>
                </tr>
                <tr>
                    <td>Privacy:</td>
                    <td>{{ event.get_privacy_display }}</td>
                </tr>
                <tr>
                    <td>Theme:</td>
                    <td><!-- You can add the theme here --></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">You haven't created any events yet.</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</body>
{% endblock %}
</html>
